html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
footer,
header,
nav,
section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

figcaption,
figure,
main {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active,
a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: inherit;
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html [type="button"],

/* 1 */

[type="reset"],
[type="submit"] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details,

/* 1 */

menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

template {
    display: none
}

[hidden] {
    display: none
}

html {
    color: #222;
    font-size: 14px;
    line-height: 1.4
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none
}

::selection {
    background: #b3d4fc;
    text-shadow: none
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

textarea {
    resize: vertical
}

html {
    box-sizing: border-box;
    overflow-y: scroll;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.wrapper {
    width: 96%;
    margin: 0 auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-top: 1rem;
}

footer {
    font-size: .625em;
    padding: 0 1rem .25rem 1rem;
}

.logo {
    display: inline-block;
    width: 200px;
    height: 40px;
    text-indent: -100%;
    margin: 0 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 722.835 160.179'%3E%3Cpath fill='%23FFD400' d='M119.3 154.33c-.08.36-.47.2-.47.2C65.5 147.92 23.03 115.7 0 67.4h17.6c19.6 44.2 55.12 75.03 101.36 86.5 0 0 .43.07.35.43zm54.2 5.32c-3.5-.6-11.45-2-15.96-3.02-47.84-10.8-81.7-42.44-102.06-89.23H31.3c24.87 55.76 78.47 89.8 142.1 92.78.4.04.62-.4.1-.53zm129.8-37.98c-21.08 17.97-48.08 28.56-77.4 28.56-52.53 0-97.4-34.38-115.16-82.83H72.6c23 54.27 74.92 92.12 135.3 92.12 37 0 70.82-14.22 96.76-37.72.4-.54.32-1.56-1.36-.13z'/%3E%3Cpath fill='%2300509E' d='M335.5 19.72l-3.7 19.59h-21.2l-10.78 56.83h-23.54l10.78-56.82h-21.2l3.73-19.58h65.9zm72.17 28.47c-.03-22.9-15.1-30.3-32.1-30.3-26.02 0-41.8 20.55-42.22 45.27-.36 20.44 10.1 34.78 32.25 34.78 31.78 0 38.17-23 39.7-30.82h-23.1c-1.63 6.74-5.9 11.77-13.28 11.77-10.8 0-12.13-9.85-12.02-16.16.2-10.8 5.16-25.8 18.2-25.8 7.3 0 10.64 4.08 10.3 11.25h22.27zm-162.8 6.73v.2c6.37 1.5 10.4 8.25 10.4 15.32 0 18.4-13.28 25.68-28.3 25.68h-39.5l14.26-76.4h35.35c14.93 0 20.5 5.77 20.5 16.8 0 9.62-4.32 15.94-12.6 18.4h-.1zm-10.78 15.3c0-5.67-3.76-6.53-8.2-6.53h-11.65l-2.7 14.24h13.6c3.74 0 8.94-1.5 8.94-7.7zm2.3-26.86c0-4.6-2.8-5.46-6.54-5.46h-10.9l-2.1 11.57h11.94c3.37 0 7.6-1.4 7.6-6.1zm213.22 116.8h3.54V0h-3.54v160.18zm45.75-82.7c1.62 0 3.52.62 4.73 1.25l1.3-3.57c-1.95-.82-4.08-1.35-6.17-1.35-3.9 0-8.9 2.02-8.9 7.24 0 6.22 8.07 6.85 8.07 11.05 0 2.8-2.6 3.8-4.96 3.8-1.9 0-3.7-.67-5.42-1.4l-.83 3.9c1.75.64 3.14 1.17 6.9 1.17 3.7 0 8.93-1.93 8.93-7.87 0-6.85-8.06-7.04-8.06-11.24 0-2.46 2.5-3 4.4-3zm92.95 5.74c0 1.65-.2 3.05-.42 4.5h-16.63c-.1.53-.14 1-.14 1.54 0 5.17 3.06 6.66 7.27 6.66 2.18 0 4.55-.58 6.68-1.5l-.7 4.16c-2.27.58-4.63 1-7 1-5.74 0-10.88-2.4-10.88-11.1 0-6.8 4.58-14.66 12.92-14.66 5.7 0 8.9 3.57 8.9 9.4zm-4.35-.76c0-2.9-1.72-4.97-5-4.97-3.58 0-6.3 3.23-7.24 6.85h12.1c.1-.72.14-1.3.14-1.88zM559.92 67l-4.68 1.68-1.16 5.7h-5.28l-.65 3.66h5.2l-2.05 10.28c-.28 1.36-.83 4.2-.83 5.8 0 2.6 1.52 5.45 5.65 5.45 1.25 0 3.3-.14 4.26-.53l.65-3.77c-.83.4-2.13.63-3.06.63-2.22 0-3.15-.9-3.15-2.65 0-.87.46-3.53.7-4.64l2.17-10.56h6.53l.7-3.66h-6.5l1.5-7.4zm63.3 6.8c-3.62 0-6.08 1.5-8.4 4.3-.78-2.95-3.47-4.3-6.25-4.3-3.1 0-5.84 1.35-7.5 3.96h-.1l.56-3.38h-4.08c-.2 1.06-.28 1.93-.46 2.8l-4.37 21.8H597l2.63-12.34c.8-3.82 3.24-9.17 7.64-9.17 2.23 0 3.48 1.6 3.48 3.62 0 .52-.1 1.34-.28 2.3L607.32 99h4.36l2.64-12.36c.8-3.82 3.24-9.17 7.64-9.17 2.23 0 3.48 1.6 3.48 3.62 0 .52-.1 1.34-.28 2.3L622 99h4.37l2.73-13.62c.37-1.73.7-3.67.7-5.16 0-3.77-2.74-6.42-6.6-6.42zm12.87 7.24c0 6.22 8.06 6.85 8.06 11.05 0 2.8-2.6 3.8-4.96 3.8-1.9 0-3.7-.67-5.42-1.4l-.84 3.9c1.76.64 3.15 1.17 6.9 1.17 3.7 0 8.95-1.93 8.95-7.87 0-6.85-8.07-7.04-8.07-11.24 0-2.46 2.5-3 4.4-3 1.62 0 3.52.63 4.72 1.26l1.3-3.57c-1.94-.82-4.08-1.35-6.16-1.35-3.9 0-8.9 2.02-8.9 7.24zm-112.8-6.66l-10.27 19.64h-.1l-2.73-19.64h-4.54l3.8 25.96c-1.8 3.82-3.6 5.65-6.26 5.7-.78 0-1.57-.24-1.9-.44l-.74 3.77c1.12.24 2.23.34 3.3.34 4.35 0 5.92-2.3 8-6.07L528 74.38h-4.7zm6.08 6.66c0 6.22 8.07 6.85 8.07 11.05 0 2.8-2.6 3.8-4.96 3.8-1.9 0-3.72-.67-5.43-1.4l-.84 3.9c1.76.64 3.15 1.17 6.9 1.17 3.7 0 8.95-1.93 8.95-7.87 0-6.85-8.06-7.04-8.06-11.24 0-2.46 2.5-3 4.4-3 1.62 0 3.52.63 4.72 1.26l1.3-3.57c-1.94-.82-4.08-1.35-6.16-1.35-3.9 0-8.9 2.02-8.9 7.24zm19.47-44.37c0-3.76-2.74-6.42-6.58-6.42-3.62 0-6.07 1.5-8.4 4.3-.78-2.95-3.47-4.3-6.25-4.3-3.1 0-5.84 1.35-7.5 3.96h-.1l.56-3.37h-4.08c-.18 1.06-.28 1.93-.46 2.8l-4.36 21.82h4.36l2.64-12.36c.8-3.82 3.24-9.18 7.65-9.18 2.22 0 3.47 1.6 3.47 3.62 0 .53-.1 1.35-.28 2.32l-3.15 15.6h4.36l2.64-12.37c.8-3.82 3.24-9.18 7.65-9.18 2.22 0 3.47 1.6 3.47 3.62 0 .53-.1 1.35-.3 2.32l-3.14 15.6h4.36l2.73-13.62c.37-1.74.7-3.67.7-5.17zm141.74 3c0 1.63-.2 3.03-.43 4.48h-16.64c-.1.53-.14 1.02-.14 1.55 0 5.16 3.05 6.66 7.27 6.66 2.18 0 4.54-.58 6.67-1.5l-.7 4.15c-2.26.6-4.63 1.03-7 1.03-5.74 0-10.88-2.42-10.88-11.1 0-6.8 4.6-14.68 12.93-14.68 5.7 0 8.88 3.57 8.88 9.4zm-4.37-.78c0-2.9-1.72-4.98-5-4.98-3.57 0-6.3 3.24-7.23 6.86h12.1c.08-.73.13-1.3.13-1.9zM557.88 55.44h-4.08l7.37-36.2h4.36L562.6 33.5h.1c1.48-2.1 4.2-3.25 7.5-3.25 5.33 0 8.44 4.06 8.44 9.37 0 9.02-4.03 16.4-11.9 16.4-5.06 0-6.73-2.02-7.98-4.68h-.1l-.78 4.1zm2.36-9.56c0 3.32 1.9 6.46 5.9 6.46 4.94 0 7.86-6.23 7.86-12.36 0-4.15-2.27-6.08-5.28-6.08-5.1 0-8.48 5.9-8.48 11.97zm162.6-26.65L717 47.3c-.56 2.74-1.02 5.44-1.35 8.15h-4.08c.24-1.16.42-2.5.8-3.77h-.1c-1.62 3.28-4.5 4.35-8.06 4.35-5.7 0-8.75-4.73-8.75-10.33 0-7.73 4.17-15.45 12.23-15.45 3.2 0 6.26 1.45 7.6 4.64h.1l3.1-15.65h4.36zm-9.04 21.38c0-3.67-2.1-6.7-5.9-6.7-5.13 0-7.82 6.8-7.82 11.43 0 3.9 1.76 7 5.75 7 5.47 0 7.97-7.1 7.97-11.73zm-130.2 4.3c0-6.8 4.58-14.68 12.92-14.68 5.7 0 8.9 3.57 8.9 9.4 0 1.65-.2 3.05-.42 4.5h-16.63c-.1.53-.14 1.02-.14 1.55 0 5.16 3.06 6.66 7.27 6.66 2.18 0 4.54-.58 6.67-1.5l-.7 4.15c-2.26.6-4.62 1.03-7 1.03-5.73 0-10.87-2.42-10.87-11.1zm5.23-4.16h12.1c.1-.72.14-1.3.14-1.88 0-2.9-1.72-4.98-5-4.98-3.58 0-6.3 3.23-7.24 6.85zm48.84-21.52l-5.84 28.04c-.56 2.74-1.02 5.44-1.34 8.15h-4.1c.24-1.16.43-2.5.8-3.77h-.1c-1.62 3.28-4.5 4.35-8.06 4.35-5.7 0-8.76-4.73-8.76-10.33 0-7.73 4.17-15.45 12.24-15.45 3.2 0 6.25 1.45 7.6 4.64h.1l3.1-15.65h4.35zm-9.04 21.38c0-3.67-2.08-6.7-5.88-6.7-5.14 0-7.83 6.8-7.83 11.43 0 3.9 1.76 7 5.74 7 5.47 0 7.97-7.1 7.97-11.73zm-143.08 4.3c0-6.8 4.6-14.68 12.93-14.68 5.7 0 8.9 3.57 8.9 9.4 0 1.65-.2 3.05-.42 4.5h-16.64c-.1.53-.14 1.02-.14 1.55 0 5.16 3.06 6.66 7.28 6.66 2.18 0 4.54-.58 6.67-1.5l-.7 4.15c-2.27.6-4.63 1.03-7 1.03-5.74 0-10.88-2.42-10.88-11.1zm5.24-4.16h12.08c.1-.72.14-1.3.14-1.88 0-2.9-1.72-4.98-5-4.98-3.57 0-6.3 3.23-7.23 6.85zm171.75-21.52h4.36l-5.83 28.04c-.56 2.74-1.02 5.44-1.34 8.15h-4.08c.23-1.16.4-2.5.8-3.77h-.1c-1.63 3.28-4.5 4.35-8.07 4.35-5.7 0-8.76-4.73-8.76-10.33 0-7.73 4.17-15.45 12.23-15.45 3.2 0 6.26 1.45 7.6 4.64h.1l3.1-15.65zm-4.68 21.38c0-3.67-2.08-6.7-5.88-6.7-5.16 0-7.84 6.8-7.84 11.43 0 3.9 1.76 7 5.74 7 5.47 0 7.97-7.1 7.97-11.73z'/%3E%3C/svg%3E");
}

.metainfo {
    font-size: .750em;
    list-style-type: none;
    margin: 0 1rem;
}

.metainfo span {
    display: inline-block;
    font-weight: bold;
}

h1 {
    margin: 0;
    color: rgb(0, 69, 144);
    counter-reset: chapter;
}

h2 {
    margin: 0 -0.5rem 0 -0.5rem;
    padding: 0.7rem 0rem 0.7rem 1rem;
    border-bottom: 1px solid rgb(200, 200, 200);
    background-color: rgb(0, 69, 144);
    color: #fff;
    font-size: 1.2em;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .2), 0 2px 4px -1px rgba(0, 0, 0, .12);
}

h2.chapter {
    counter-increment: chapter;
}

h3 {
    font-size: 1.2em;
    position: relative;
    margin: 0 -0.5rem 0 -0.5rem;
    padding: 0rem 0rem 0.7rem 0.7rem;
    background-color: rgb(220, 220, 220);
}

h4 {
    position: relative;
    margin: 0.5rem 0rem 0.5rem 0rem;
}

p {
    margin: 1em 0;
}

a {
    color: rgb(0, 69, 144);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    width: calc(100% + 1rem);
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: rgb(250, 250, 250);
    margin: 0rem 6rem 1rem -0.5rem;
    display: block;
    position: relative;
}

h2 + section {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .2), 0 2px 4px -1px rgba(0, 0, 0, .12);
}

.is-closed + section {
    display: none;
}

section section {
    width: 100%;
    padding: 0;
    margin: 1rem 0;
}

section section:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
}

section section section {
    margin: 0.5rem 0;
}

h2.is-closed {
    margin: 0rem -0.5rem 1rem -0.5rem;
}

h2.has-toggle,
h3.has-toggle,
h4.has-toggle,
h5.has-toggle {
    cursor: pointer;
}

h2:before {
    text-indent: 2em;
    content: '\00a0';
}

h2.chapter:before {
    content: counter(chapter) '.\00a0';
}

h3:before {
    content: "";
}

h4:before {
    content: "";
}

h2.has-toggle:before,
h3.has-toggle:before,
h4.has-toggle:before,
h5.has-toggle:before {
    display: inline-block;
    background-size: 1em;
    background-position: left 50%;
    background-repeat: no-repeat;
}

h3.has-toggle:before,
h4.has-toggle:before,
h5.has-toggle:before {
    padding: 0.7em 1em 0.7em 0em;
    margin: 0.5em 0.5em -0.35em 0em;
}

h2.has-toggle:before,
h3.has-toggle:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='-1 -1 72 72'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill-rule: evenodd; fill: %23FFFFFF; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Twistie-Down' class='cls-1' d='M9.373,54.627a32,32,0,1,1,45.255,0A32.036,32.036,0,0,1,9.373,54.627ZM49.615,14.385a24.911,24.911,0,1,0,0,35.229A24.939,24.939,0,0,0,49.615,14.385ZM13.434,28.519L20.4,21.557,32,33.16l11.6-11.6,6.962,6.962-11.6,11.6L32,47.085l-6.962-6.962Z'/%3E%3C/svg%3E%0A");
}


h2.has-toggle.is-closed:before,
h3.has-toggle.is-closed:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='-1 -1 72 72'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill-rule: evenodd; fill: %23FFFFFF; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Twistie-Right' class='cls-1' d='M54.623,54.654a32.016,32.016,0,1,1,0-45.277A32.052,32.052,0,0,1,54.623,54.654ZM14.361,14.393a24.923,24.923,0,1,0,35.246,0A24.951,24.951,0,0,0,14.361,14.393Zm14.14,36.2-6.966-6.966,11.61-11.61L21.536,20.406,28.5,13.441,40.111,25.05l6.966,6.966-6.966,6.966Z'/%3E%3C/svg%3E%0A");
}

h4.has-toggle:before,
h5.has-toggle:before {
    margin: 0em 0.5em -0.35em 0.5em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='-1 -1 70 70'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill-rule: evenodd; fill: %23000000; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Twistie-Down' class='cls-1' d='M9.373,54.627a32,32,0,1,1,45.255,0A32.036,32.036,0,0,1,9.373,54.627ZM49.615,14.385a24.911,24.911,0,1,0,0,35.229A24.939,24.939,0,0,0,49.615,14.385ZM13.434,28.519L20.4,21.557,32,33.16l11.6-11.6,6.962,6.962-11.6,11.6L32,47.085l-6.962-6.962Z'/%3E%3C/svg%3E%0A");
}

h4.has-toggle.is-closed:before,
h5.has-toggle.is-closed:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='-1 -1 70 70'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill-rule: evenodd; fill: %23000000; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Twistie-Right' class='cls-1' d='M54.623,54.654a32.016,32.016,0,1,1,0-45.277A32.052,32.052,0,0,1,54.623,54.654ZM14.361,14.393a24.923,24.923,0,1,0,35.246,0A24.951,24.951,0,0,0,14.361,14.393Zm14.14,36.2-6.966-6.966,11.61-11.61L21.536,20.406,28.5,13.441,40.111,25.05l6.966,6.966-6.966,6.966Z'/%3E%3C/svg%3E%0A");
}

button[for] {
    display: inline-block;
    background-color: rgb(200, 200, 200);
    color: rgb(34, 34, 34);
    border: 0;
    padding: .1em .2em;
    cursor: pointer;
}

button[for]:hover {
    transform: scale(1.1);
}

.toplink {
    position: absolute;
    overflow: hidden;
    bottom: 5px;
    right: 5px;
    font-size: .75em;
    color: rgb(200, 200, 200);
    text-decoration: none;
    opacity: 1;
    transition: opacity .5s ease-in;
}

.toplink:hover {
    color: rgb(34, 34, 34);
}

.toplink:after {
    display: inline-block;
    position: relative;
    width: 1.25em;
    height: 1.25em;
    content: "";
    margin-left: .3em;
    background-repeat: no-repeat;
    background-size: 1.2em 1.2em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill-rule: evenodd; fill: %23C8C8C8; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Twistie-Right' class='cls-1' d='M54.623,54.654a32.016,32.016,0,1,1,0-45.277A32.052,32.052,0,0,1,54.623,54.654ZM14.361,14.393a24.923,24.923,0,1,0,35.246,0A24.951,24.951,0,0,0,14.361,14.393Zm14.14,36.2-6.966-6.966,11.61-11.61L21.536,20.406,28.5,13.441,40.111,25.05l6.966,6.966-6.966,6.966Z'/%3E%3C/svg%3E%0A");
    transform: rotate(270deg);
}

.toplink:hover:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill-rule: evenodd; fill: %23000000; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Twistie-Right' class='cls-1' d='M54.623,54.654a32.016,32.016,0,1,1,0-45.277A32.052,32.052,0,0,1,54.623,54.654ZM14.361,14.393a24.923,24.923,0,1,0,35.246,0A24.951,24.951,0,0,0,14.361,14.393Zm14.14,36.2-6.966-6.966,11.61-11.61L21.536,20.406,28.5,13.441,40.111,25.05l6.966,6.966-6.966,6.966Z'/%3E%3C/svg%3E%0A");
    transform: rotate(270deg);
}

.data_table_container {
    overflow-x: auto;
    margin-right: 0.5rem
}

.data_table {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-collapse: collapse;
}

.data_table tr {
    background-color: rgb(255, 255, 255);
    transition: background-color .5s;
}

.data_table tr:nth-child(odd) {
    background-color: rgb(245, 245, 245);
}

.data_table tr:hover {
    background-color: rgb(235, 235, 235);
}

.data_table th {
    text-align: left;
    background: rgb(188, 228, 250);
    color: rgb(0, 69, 144);
}

.data_table th,
.data_table td {
    position: relative;
    padding: .5rem;
    word-wrap: normal;
    word-break: normal;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.data_table th {
    border-bottom: 1px solid rgb(175, 175, 175);
    background-clip: padding-box;
}

.data_table td.lightyellow {
    background: #FFFFCC;
}

.data_table td.yellow {
    background: #FFFF99;
}

.data_table td.lightgreen {
    background: #CCFF99;
}

.data_table td.light_red {
    background: #FFCCCC;
}

.data_table td.value {
    text-align: center;
}

ol.list-row {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 1rem -1rem;
}

ol.list-row > li {
    padding: 1rem;
}

ol.list-row ul {
    padding: 0;
    list-style-type: none;
}

ol.list-row ul li {
    padding-left: 1rem;
}

ol.list-row ul li:before {
    display: inline-block;
    position: relative;
    width: .8em;
    height: .8em;
    content: "";
    margin-right: .3rem;
    margin-left: -1rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='rgb(0,69,144)' d='M6 4l20 12-20 12z'/%3E%3C/svg%3E");
}

ol.contents {
    color: rgb(0, 69, 144);
}

ul.noStyle {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.INCONCLUSIVE:after,
.PARTIALLY_FULFILLED:after,
.PARTIALLY_COVERED:after,
.VIOLATED:after,
.NOT_COVERED:after,
.FULFILLED:after,
.COVERED:after {
    display: inline-block;
    position: absolute;
    width: 2em;
    height: 2em;
    content: "";
    top: 50%;
    transform: translate(0%, -50%);
    left: 0em;
    background-size: 1em 1em;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 2px;
}

h3.INCONCLUSIVE:after,
h3.PARTIALLY_FULFILLED:after,
h3.PARTIALLY_COVERED:after,
h3.VIOLATED:after,
h3.NOT_COVERED:after,
h3.FULFILLED:after,
h3.COVERED:after {
    left: -2.5em;
}

div.INCONCLUSIVE,
div.PARTIALLY_FULFILLED,
div.PARTIALLY_COVERED,
div.VIOLATED,
div.NOT_COVERED,
div.FULFILLED,
div.COVERED {
    padding-left: 2.5em;
}

h3[class] {
    margin: 0 0.5rem 1rem 2.5em;
    border-radius: 2px;
}

.INCONCLUSIVE,
.PARTIALLY_FULFILLED,
.PARTIALLY_COVERED {
    color: rgb(255, 149, 0);
}

h3.INCONCLUSIVE,
h3.PARTIALLY_FULFILLED,
h3.PARTIALLY_COVERED {
    background-color: rgb(255, 149, 0);
    color: rgb(255, 255, 255);
}

.INCONCLUSIVE:after,
.PARTIALLY_FULFILLED:after,
.PARTIALLY_COVERED:after {
    border-color: rgb(255, 149, 0);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: orange; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Warning' class='cls-1' d='M40.622,18.427L36.159,42.246c-0.263,1.4-2,2.4-3.921,2.4s-3.674-1-3.96-2.4L23.434,18.427C21.691,9.858,25.146,0,31.881,0S42.228,9.858,40.622,18.427ZM32.216,49.116a7.446,7.446,0,1,1-7.68,7.442A7.564,7.564,0,0,1,32.216,49.116Z'/%3E%3C/svg%3E%0A");
}

.VIOLATED,
.NOT_COVERED {
    color: rgb(200, 0, 0);
}

h3.VIOLATED,
h3.NOT_COVERED {
    background-color: rgb(200, 0, 0);
    color: rgb(255, 255, 255);
}

.VIOLATED:after,
.NOT_COVERED:after {
    border-color: rgb(200, 0, 0);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23c80000; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Error' class='cls-1' d='M45.541,31.985L61.141,47.6A9.6,9.6,0,0,1,47.576,61.174l-15.6-15.613-15.6,15.613A9.6,9.6,0,0,1,2.81,47.6l15.6-15.613L2.81,16.373A9.6,9.6,0,0,1,16.375,2.8l15.6,15.613L47.576,2.8A9.6,9.6,0,0,1,61.141,16.373Z'/%3E%3C/svg%3E%0A");
}

.FULFILLED,
.COVERED {
    color: rgb(72, 145, 0);
}

h3.FULFILLED,
h3.COVERED {
    background-color: rgb(72, 145, 0);
    color: rgb(255, 255, 255);
}

.FULFILLED:after,
.COVERED:after {
    border-color: rgb(72, 145, 0);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23489100; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Accept' class='cls-1' d='M17.9,29.5l8.678,17.252S40.678,11.687,62.915,0C62.373,8.348,60.2,15.583,64,24.487,54.237,26.713,34.17,51.757,27.661,64,18.441,52.313,7.593,43.409,0,40.626Z'/%3E%3C/svg%3E%0A");
}

.result_container {
    position: relative;
}

.FAILED_ACCEPTED:after,
.MISSING_EXECUTION:after,
.FAILED:after,
.ERROR:after,
.NO_VERDICT:after,
.PASSED:after {
    display: inline-block;
    position: absolute;
    width: 2em;
    height: 2em;
    content: "";
    top: 50%;
    transform: translate(0%, -50%);
    left: -0em;
    background-size: 1em 1em;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 2px;
}

h3.FAILED_ACCEPTED:after,
h3.MISSING_EXECUTION:after,
h3.FAILED:after,
h3.ERROR:after,
h3.NO_VERDICT:after,
h3.PASSED:after {
    left: -2.5em;
}

h4.has-toggle.FAILED_ACCEPTED:after,
h4.has-toggle.MISSING_EXECUTION:after,
h4.has-toggle.FAILED:after,
h4.has-toggle.ERROR:after,
h4.has-toggle.PASSED:after,
h4.has-toggle.NO_VERDICT:after {
    left: -2em;
}

h4.has-toggle.FAILED_ACCEPTED,
h4.has-toggle.MISSING_EXECUTION,
h4.has-toggle.FAILED,
h4.has-toggle.ERROR,
h4.has-toggle.PASSED,
h4.has-toggle.NO_VERDICT {
    margin-left: 2em;
}

div.FAILED_ACCEPTED,
div.MISSING_EXECUTION,
div.FAILED,
div.ERROR,
div.NO_VERDICT,
div.PASSED {
    padding-left: 0.5em;
    margin-left: 1.75em;
}

.MISSING_EXECUTION {
    color: rgb(120, 120, 120)
}

h3.MISSING_EXECUTION {
    background-color: rgb(120, 120, 120);
    color: rgb(255, 255, 255);
}

.MISSING_EXECUTION:after {
    border-color: rgb(120, 120, 120);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %237d7d7d; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Missing' class='cls-1' d='M49.761,21.379a4.54,4.54,0,0,1-1.155,2.277A4.588,4.588,0,0,1,45.1,27.3a4.594,4.594,0,0,1-3.469,3.428,4.57,4.57,0,0,1-1.836,2.7,4.464,4.464,0,0,1-1.563,1.377,4.509,4.509,0,0,1-1.1,2.462v3.876a4.429,4.429,0,0,1-.051.5,4.493,4.493,0,0,1,.051.646A4.6,4.6,0,0,1,32.5,46.857H31.344a4.6,4.6,0,0,1-4.625-4.571,4.446,4.446,0,0,1,.056-0.6,4.448,4.448,0,0,1-.056-0.547V34.286a4.512,4.512,0,0,1,1.236-3.09,4.555,4.555,0,0,1,1.157-2.287,4.565,4.565,0,0,1,1.943-2.973,4.627,4.627,0,0,1,2.732-1.815,4.594,4.594,0,0,1,3.465-3.427,4.583,4.583,0,0,1,2.186-2.917V16.7a4.545,4.545,0,0,1-1.1-2.436,4.613,4.613,0,0,1-1.964-2.12,4.719,4.719,0,0,1-1.215-.787,4.662,4.662,0,0,1-2.219-1.067H30.9a4.6,4.6,0,0,1-2.285,1.069,4.438,4.438,0,0,1-2.037,1.1,4.57,4.57,0,0,1-1.06,2.019c0.011,0.13.039,0.254,0.039,0.387a4.514,4.514,0,0,1-1.239,3.094,4.6,4.6,0,0,1-4.543,3.764H18.625A4.6,4.6,0,0,1,14,17.143,4.486,4.486,0,0,1,14.164,16,4.363,4.363,0,0,1,15.2,11.815c-0.011-.13-0.04-0.254-0.04-0.386a4.513,4.513,0,0,1,1.239-3.094A4.587,4.587,0,0,1,19.9,4.7a4.609,4.609,0,0,1,4.5-3.558h0.439A4.617,4.617,0,0,1,27.875,0h9.25a4.624,4.624,0,0,1,3.13,1.224,4.613,4.613,0,0,1,3.379,2.608,4.62,4.62,0,0,1,2.328,2.294,4.581,4.581,0,0,1,2.646,3.354,4.556,4.556,0,0,1,1.156,2.286A4.513,4.513,0,0,1,51,14.857v3.429A4.513,4.513,0,0,1,49.761,21.379ZM31.922,51.429a6.286,6.286,0,1,1-6.359,6.286A6.323,6.323,0,0,1,31.922,51.429Z'/%3E%3C/svg%3E%0A");
}

.NO_VERDICT {
    color: rgb(255, 149, 0)
}

h3.NO_VERDICT {
    background-color: rgb(255, 149, 0);
    color: rgb(255, 255, 255);
}

.NO_VERDICT:after {
    border-color: rgb(255, 149, 0);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: orange; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Warning' class='cls-1' d='M40.622,18.427L36.159,42.246c-0.263,1.4-2,2.4-3.921,2.4s-3.674-1-3.96-2.4L23.434,18.427C21.691,9.858,25.146,0,31.881,0S42.228,9.858,40.622,18.427ZM32.216,49.116a7.446,7.446,0,1,1-7.68,7.442A7.564,7.564,0,0,1,32.216,49.116Z'/%3E%3C/svg%3E%0A");
}

.FAILED,
.ERROR {
    color: rgb(200, 0, 0);
}

h3.FAILED,
h3.ERROR {
    background-color: rgb(200, 0, 0);
    color: rgb(255, 255, 255);
}

.FAILED:after,
.ERROR:after {
    border-color: rgb(200, 0, 0);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23c80000; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Error' class='cls-1' d='M45.541,31.985L61.141,47.6A9.6,9.6,0,0,1,47.576,61.174l-15.6-15.613-15.6,15.613A9.6,9.6,0,0,1,2.81,47.6l15.6-15.613L2.81,16.373A9.6,9.6,0,0,1,16.375,2.8l15.6,15.613L47.576,2.8A9.6,9.6,0,0,1,61.141,16.373Z'/%3E%3C/svg%3E%0A");
}

.PASSED,
.FAILED_ACCEPTED {
    color: rgb(72, 145, 0);
}

h3.PASSED,
h3.FAILED_ACCEPTED {
    background-color: rgb(72, 145, 0);
    color: rgb(255, 255, 255);
}

.PASSED:after,
.FAILED_ACCEPTED:after {
    border-color: rgb(72, 145, 0);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23489100; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Accept' class='cls-1' d='M17.9,29.5l8.678,17.252S40.678,11.687,62.915,0C62.373,8.348,60.2,15.583,64,24.487,54.237,26.713,34.17,51.757,27.661,64,18.441,52.313,7.593,43.409,0,40.626Z'/%3E%3C/svg%3E%0A");
}

.tableOfContents {
    list-style: none;
    margin-top: 0;
}

.goals_container {
    width: 100%;
    display: block;
    float: left;
    margin-bottom: 1rem;
}

.goals {
    width: 50%;
    float: left;
}


/* #################################
 # edc = error during comparison   #
 # wdc = warning during comparison #
 # sdc = success during comparison #
 ################################ */

.icon-mc:before,
.icon-edc:before,
.icon-wdc:before,
.icon-sdc:before {
    display: inline-block;
    width: .75em;
    height: .75em;
    content: "";
    background-size: .75em .75em;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-right: .5rem;
    vertical-align: baseline;
}

.icon-mc:before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle cx='16' cy='16' r='16' fill='rgb(180,180,180)'/%3E%3C/svg%3E");
}

.icon-edc:before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle cx='16' cy='16' r='16' fill='rgb(200,0,0)'/%3E%3C/svg%3E");
}

.icon-wdc:before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle cx='16' cy='16' r='16' fill='rgb(255,149,0)'/%3E%3C/svg%3E");
}

.icon-sdc:before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle cx='16' cy='16' r='16' fill='rgb(72,145,0)'/%3E%3C/svg%3E");
}


/* ##############
 # PRINT Styles #
 ############# */

@media print {
    .wrapper.shadow-2 {
        box-shadow: none;
        background-color: transparent;
    }
    .card {
        background: transparent;
    }
}

.buttonExpand {
    background-color: rgb(0, 69, 144);
    color: #fff;
    cursor: pointer;
    width: 70% height: 100%;
    display: inline-block;
    padding: 10px;
    margin-bottom: -5px;
}

.safe_extension {
    color: #4169E1;
    font-style: oblique;
}
html{
  font-family: sans-serif;
}